<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc.dll" version="5.4.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.122" targetFramework="net472" />
  <package id="Prism.Container.Abstractions" version="9.0.106" targetFramework="net472" />
  <package id="Prism.Container.DryIoc" version="9.0.106" targetFramework="net472" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net472" />
  <package id="Prism.DryIoc" version="9.0.537" targetFramework="net472" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net472" />
  <package id="Prism.Wpf" version="9.0.537" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>