@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,My.TagHelpers.Study

@using Microsoft.AspNetCore.Mvc.Razor.TagHelpers;
@using My.TagHelpers.Study.Component;

@inject ITagHelperComponentManager manager;

@{
    manager.Components.Add(new AddressTagHelperComponent("<h1>ccccccccc</h1>", 1));
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Core标记帮助程序组件</title>
</head>
<body>
    <address printable>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
</body>
</html>
