@page
@model Ay.ConfigurationOptions.Frame.Sample.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@Model.ayOption.Option1</p>
    <p>@Model.ayOption.Option2</p>

    <hr />

    <p>@Model.ayOption2.Option1</p>
    <p>@Model.ayOption2.Option2</p>

</body>
</html>
