@page "{text?}"
@model My.RazorRoute.Study.Pages.ContactModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    aa
    <p>@Model.RouteDataTextTemplateValue</p>

</body>
</html>
