
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC 视图学习</title>
</head>
<body>
    
    
    @await Html.PartialAsync("../_PartialView1", ViewData)
</body>
</html>
