@page
@model My.Filters.Study.Pages.PageOneModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageOne</title>
</head>
<body>
</body>
</html>
