
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SmallZ</title>
</head>
<body>
    Areas=>SmallZ=>Home/Test
</body>
</html>
