@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "_Layout";
}

<h2>Hello from a Razor UI class library!</h2>
<p> From  My.RazorClassLib\Areas\MyFeature\Pages\Page1.cshtml</p>

<partial name="_Message" />