@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            /Home/Index
        </a>
    </div>

    <div>
        方式一：
        <a asp-area="Wy" asp-controller="Home" asp-action="Test">Wy/Home/Test</a>
    </div>

    <div>
        方式二：
        @Html.ActionLink("SmallZ/Home/Test", "Test", "Home", new { area = "Wy" })
    </div>

    <div>
        方式三：
        <a href='@Url.Action("Test", "Home", new { area = "Wy" })'>
            SmallZ/Home/Test
        </a>
    </div>
</body>
</html>