@page
@model My.RazorRoute.Study.Pages.Page_1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Pages 路由和约定</title>
</head>
<body>
    <h1>Page_1</h1>
    <div>@Model.RouteDataGlobalTemplateValue</div>

    <p>@Model.RouteDataOtherPagesTemplateValue</p>
</body>
</html>
