@page
@model My.RazorSyntax.Study.Pages.IndexModel
@{
    Layout = null;
}
@namespace My.RazorSyntax.Study
@using Microsoft.AspNetCore.Html
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @functions{
        public static IHtmlContent Repeat(IEnumerable<dynamic> items, int count, Func<dynamic, IHtmlContent> template)
        {
            var html = new HtmlContentBuilder();
            foreach (var item in items)
            {
                for (int i = 0; i < count; i++)
                {
                    html.AppendHtml(template(item));
                }
            }
            return html;
        }
    }

    @{
        //定义一个Student集合
        var students = new List<Student>{
            new Student{ StudentName="曹操"},
            new Student{ StudentName="刘备"},
            new Student{ StudentName="孙权"}
        };

        //定义一个Func委托，item是默认参数，因此可以直接使用
        Func<Student, IHtmlContent> stuTemplate =@<p>姓名：<strong>@item.StudentName</strong></p>;

        //呈现内容
        @foreach (var stu in students)
        {
            @stuTemplate(stu);
        }
    }

    <ul>
        @Repeat(students, 3, @<li>@item.StudentName</li>)
    </ul>

    <a></a>
</body>
</html>
